
  .navbar-nav .nav-link {
    color: black;
    position: relative;
  }
  .music-bars {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scaleX(0);
  }

  .nav-link:hover .music-bars {
    transform: scaleX(1);
    animation: music-bars-animation 0.8s infinite;
  }


  .fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 1);
  }

  /* Additional styles for the live radio button */
  .live-radio-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .live-radio-button:hover {
    background-color: darkred;
  }

  /* Additional styles for the navbar */
.navbar {
height: 80px; /* Example height, adjust as needed */
padding: 0 15px; /* Adjust padding as needed for alignment */
}

/* Adjust the logo size and alignment */

.navbar-brand-logo {
height: 90px; /* Temporarily increase to check visibility */
width: auto; /* Adjust based on the actual logo's aspect ratio */
margin-right: 15px;
display: block; /* Ensure it's not set to none */
visibility: visible; /* Ensure it's visible */
opacity: 1; /* Ensure it's fully opaque */
}

.navbar-brand, .navbar-nav-wrap {
display: flex;
align-items: center; /* This will vertically center the items */
}

.listen-live-btn {
position: relative;
overflow: hidden;
border: none;
padding: 0px 50px;
font-weight: light;
cursor: pointer;
transition: background-color 0.3s;
}

.listen-live-btn::before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height:30%;
background-color: red; /* Initial background color */
z-index: -1;
transform: scaleX(4);
transition: transform 0.1s ease-in-out;
}

  
  .music-bars {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out; /* Add transition for smooth scaling */
  }

  .nav-link:hover .music-bars {
    transform: scaleX(1); /* Scale up on hover */
    animation: none; /* Disable animation on hover */
  }
  