.frequency-container { 
  width: fit-content; 
  overflow:hidden;
  white-space: nowrap; 
  margin: 10px;
  padding: 10px;

}
.frequency-item {

  margin-right: 5px; 
  font-size: 15px;
}

.frequency-list {
  display: flex; 
  list-style: none; 
  animation: textMove 20s linear infinite; 
}
@keyframes textMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100%)); 
  }
  100% {
    transform: translateX(0);
  }
}



